/*fonts & colors*/
body {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.section {
  font-family: "Open Sans";
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 30px;
}
.section__title {
  margin: 0;
  padding-top: 30px;
  font-family: "Fraunces";
  font-weight: 500;
  font-size: 28px;
}
@media screen and (min-width: 900px) {
  .section__text--booking-info {
    margin-top: 0;
  }
}
.section__text--header {
  font-weight: bold;
  margin-top: 30px;
}

/*some common settings*/
.logo {
  position: absolute;
  top: 25px;
  left: 47%;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header__line--upper {
  background-color: #c4a593;
  margin: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.header__line--lower {
  background-color: #EFEAE4;
  color: #685E50;
  width: 100%;
  margin: 0;
  font-family: "Fraunces";
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (max-width: 330px) {
  .header__line--lower {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .header__line--hamburger {
    display: none;
  }
}
.header-menu__checkbox {
  display: none;
}
.header-menu__checkbox:checked ~ .header-menu-hamburger {
  display: block;
}
.header-menu__toggler {
  cursor: pointer;
  display: block;
  padding-top: 10px;
  background-color: #a68a7a;
  padding-bottom: 10px;
  padding-left: 3%;
  color: white;
  font-family: "Fraunces";
  font-size: 20px;
}
.header-menu-hamburger {
  display: none;
  list-style: none;
  background-color: #EFEAE4;
  padding: 0;
  margin: 0;
}
.header-menu-hamburger__item {
  border-bottom: 1px solid #685E50;
}
.header-menu-hamburger-link {
  color: #685E50;
  display: block;
  font-family: "Fraunces";
  font-weight: 350;
  text-decoration: none;
  padding: 10px 10%;
}
.header-menu-hamburger-link:active {
  color: #685E50;
  text-decoration: none;
}
.header-menu-hamburger-link:visited {
  color: #685E50;
  text-decoration: none;
}
.header-menu-hamburger-link:hover {
  background-color: #c4a593;
  color: white;
}
.header-contact {
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
@media screen and (min-width: 1040px) {
  .header-contact {
    font-size: 16px;
  }
}
.header-contact__container {
  justify-content: flex-start;
}
.header-contact__item {
  margin-right: 13px;
}
.header-menu {
  display: none;
}
@media screen and (min-width: 900px) {
  .header-menu {
    list-style: none;
    display: flex;
    padding-right: 0;
    font-size: 12px;
  }
}
@media screen and (min-width: 1040px) {
  .header-menu {
    font-size: 16px;
  }
}
.header-menu__item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1.5px solid #685E50;
}

/*header*/
.footer {
  background-color: #c4a593;
  list-style: none;
  font-family: "Open Sans";
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}
.footer__contact {
  list-style: none;
  color: white;
  padding-left: 0;
}
@media screen and (min-width: 1100px) {
  .footer__contact {
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/*footer*/
.button {
  background-color: #c4a593;
  width: 150px;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  padding: 10px 5px;
  margin: 8px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 400px) {
  .button {
    font-size: 0.85em;
  }
}
.button--contact {
  width: 250px;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 900px) {
  .button--contact {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
.button--service-detail {
  margin-left: 0;
  margin-top: 20px;
  width: auto;
  background-color: #968073;
}
.button--service-detail:hover {
  background-color: #a68a7a;
}
.button__link {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 430px) {
  .button__link {
    width: 250px;
    font-size: 20px;
  }
}
.button__link:active {
  color: white;
  text-decoration: none;
}
.button__link:visited {
  color: white;
  text-decoration: none;
}
.button__link:hover {
  background-color: #a68a7a;
}
.button--services {
  margin-left: 0;
  margin-right: 10px;
  width: 160px;
  font-size: 0.9em;
}
@media screen and (max-width: 400px) {
  .button--services {
    padding: 5%;
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .button--services {
    width: 120px;
    font-size: 16px;
  }
}

.menu-link {
  color: #685E50;
  text-decoration: none;
}
.menu-link:visited {
  color: #685E50;
  text-decoration: none;
}
.menu-link:active {
  color: #685E50;
  text-decoration: none;
}
.menu-link:hover {
  text-decoration: underline;
}

/*buttons settings*/
.hero {
  font-family: "Open Sans";
  font-weight: 350;
  text-align: center;
  padding-bottom: 30px;
  color: #685E50;
  padding-left: 5%;
  padding-right: 5%;
  background-color: whitesmoke;
}
@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    padding-bottom: 0;
    padding-left: 8%;
    padding-right: 8%;
  }
}
.hero__image {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 500px) {
  .hero__image {
    height: 400px;
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .hero__image {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 900px) {
  .hero__image {
    border-radius: 0;
    width: 350px;
    height: auto;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1500px) {
  .hero__image {
    width: 500px;
    height: auto;
  }
}
.hero__title {
  font-family: "Fraunces";
  font-weight: 350;
  font-size: 60px;
  color: #685E50;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 55px;
}
@media screen and (min-width: 1500px) {
  .hero__title {
    font-size: 110px;
  }
}
.hero__subtitle {
  font-family: "Open Sans";
  color: #685E50;
  font-weight: 300;
  margin-top: 30px;
  font-size: 35px;
}
@media screen and (min-width: 1500px) {
  .hero__subtitle {
    font-size: 70px;
  }
}
.hero-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 40px;
}
@media screen and (max-width: 400px) {
  .hero-buttons {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .hero-buttons {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 900px) {
  .hero-buttons {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1500px) {
  .hero-buttons {
    font-size: 18px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 900px) {
  .hero__column--text {
    order: 1;
  }
}
@media screen and (min-width: 1500px) {
  .hero__column--text {
    padding-left: 6%;
    padding-right: 6%;
    font-size: 25px;
  }
}

/*hero panel on the main page*/
.section--services {
  background-color: #EFEAE4;
  font-family: "Open Sans";
  color: #685E50;
}
@media screen and (min-width: 900px) {
  .section--services {
    padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

.services {
  padding-top: 20px;
}
@media screen and (min-width: 1100px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.services-buttons {
  list-style: none;
  display: flex;
  padding-left: 0;
  text-align: left;
}
@media screen and (max-width: 420px) {
  .services-buttons {
    flex-wrap: wrap;
    width: 150px;
  }
}

.service-item {
  display: flex;
  margin-bottom: 15px;
  max-height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.service-item__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  max-height: 300px;
}
@media screen and (max-width: 400px) {
  .service-item__photo {
    height: 300px;
    width: 45%;
  }
}
@media screen and (min-width: 600px) {
  .service-item__photo {
    max-width: 250px;
  }
}
.service-item__text {
  background-color: white;
  flex-grow: 1;
  width: 60%;
  padding: 5%;
}
@media screen and (max-width: 400px) {
  .service-item__text {
    padding-top: 12%;
    font-size: 16px;
    width: 55%;
  }
}
.service-item__text--title {
  font-family: "Fraunces";
  font-weight: 500;
  margin-top: 0;
}

/*services section on the main page*/
.section--gallery {
  color: #685E50;
  font-family: "Open Sans";
}
@media screen and (min-width: 900px) {
  .section--gallery {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    gap: 100px;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (min-width: 1100px) {
  .section--gallery {
    display: block;
  }
}

.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
}
@media screen and (min-width: 900px) {
  .gallery {
    max-width: 475px;
  }
}
@media screen and (min-width: 1100px) {
  .gallery {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1500px) {
  .gallery {
    max-width: 1500px;
  }
}
.gallery__photo {
  margin-left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
.gallery__photo--bricks {
  max-width: 800px;
  grid-column-start: 2;
  grid-row: 1;
  grid-row-end: 1;
}
.gallery__photo--coffee {
  max-width: 800px;
}
.gallery__photo--twochairs {
  max-width: 1800px;
  grid-row-start: 2;
  grid-column: span 2;
}

/*gallery section on the main page*/
.section--contact {
  background-color: #EFEAE4;
  margin: 0;
  color: #685E50;
}
@media screen and (min-width: 900px) {
  .section--contact {
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

.contact__title {
  color: #685E50;
  font-weight: 600;
  font-family: "Fraunces";
}
.contact__list {
  list-style: none;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .contact__list {
    padding-left: 0;
  }
}
.contact--items {
  padding-bottom: 10px;
}
@media screen and (max-width: 400px) {
  .contact--items {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 900px) {
  .contact--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .contact__item {
    padding-bottom: 5px;
  }
}
.contact__item--link {
  margin-top: 20px;
  padding-left: 0;
}
@media screen and (min-width: 900px) {
  .contact--address {
    padding-left: 30px;
  }
}

.invitation {
  color: #685E50;
  font-family: "Fraunces";
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

/*contact section on the main page*/
.about__hero {
  display: flex;
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 30px;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .about__hero {
    display: block;
    text-align: center;
  }
}
.about__photo {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 580px) {
  .about__photo {
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 580px) {
  .about__photo {
    margin-right: 30px;
  }
}
.about__title {
  font-family: "Fraunces";
  font-weight: 400;
  margin-top: 0px;
  font-size: 40px;
  color: #685E50;
}
.about__subtitle {
  font-family: "Open Sans";
  color: #685E50;
  font-size: 20px;
}
.about__personal {
  font-family: "Open Sans";
  font-size: 20px;
  color: #685E50;
  padding-top: 10px;
  padding-bottom: 20px;
}
.about__container {
  margin-top: 0;
  padding-left: 3%;
  padding-right: 3%;
  background-color: whitesmoke;
}
@media screen and (min-width: 1100px) {
  .about__container {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.experience {
  background-color: #EFEAE4;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: block;
  max-width: 1100px;
}
.experience__year {
  font-family: "Fraunces";
  color: white;
  font-weight: 500;
  font-size: 22px;
  flex-basis: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  text-align: center;
  background-color: #c4a593;
}
.experience__text {
  font-family: "Open Sans";
  font-size: 16px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  flex-basis: 80%;
  color: #685E50;
}

/*page about */
.service-detail__title {
  font-family: "Fraunces";
  font-weight: 300;
  font-size: 36px;
}
@media screen and (min-width: 1100px) {
  .service-detail__title {
    font-size: 42px;
  }
}
.service-detail__subtitle {
  font-family: "Open Sans";
}
.service-detail__text {
  font-family: "Open Sans";
}
.service-detail__text--header {
  font-weight: bolder;
}
.service-detail__list {
  font-family: "Open Sans";
}
.service-detail__contact {
  list-style: none;
  color: #685E50;
  padding-left: 0;
  font-family: "Open Sans";
  display: inline-block;
}
.service-detail__contact-item {
  margin-bottom: 10px;
}
.service-detail-container {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: contain;
  background-repeat: none;
  padding-top: 5px;
  padding-bottom: 30px;
}
.service-detail-firstpart {
  background-image: url(/images/service_detail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px;
  margin-top: 0;
  padding-left: 8%;
}
@media screen and (min-width: 1100px) {
  .service-detail-firstpart {
    height: 600px;
    padding-right: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
  }
}
.service-detail-secondpart {
  background-color: white;
  color: #685E50;
  padding: 30px 30px;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

/*pages with details for each service*/
.section--qr {
  padding-top: 20px;
  color: #685E50;
  font-size: 16px;
}

.QR {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.QR-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 250px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .QR-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .QR-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.QR-image {
  max-width: 250px;
}
.QR-caption {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

/*page with QR codes*//*# sourceMappingURL=style.css.map */