@use 'variables';

// styling of the "O mně" page

.about {

    &__hero {
        display: flex;
        margin-top: 0;
        padding-top: 40px;
        margin-bottom: 30px;
        align-items: center;
        @media screen and (max-width: 580px) {
            display: block;
            text-align: center;
        }
    }

    &__photo {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: variables.$box-shadow-boxes;
        @media screen and (max-width: 580px) {
            width: 250px;
            height: 250px;
            margin-bottom: 15px;
        }
        @media screen and (min-width: 580px) {
            margin-right: 30px;
        }
    }
    
    &__title {
        font-family: variables.$title-font;
        font-weight: 400;
        margin-top: 0px;
        font-size: 40px;
        color: variables.$dark-brown;
    }

    &__subtitle {
        font-family: variables.$basic-font;
        color: variables.$dark-brown;
        font-size: 20px;
    }

    &__personal {
        font-family: variables.$basic-font;
        font-size: 20px;
        color: variables.$dark-brown;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    &__container {
        margin-top: 0;
        padding-left: 3%;
        padding-right: 3%;
        background-color: whitesmoke;
        @media screen and (min-width: 1100px) {
            padding-left: 8%;
            padding-right: 8%;
        }
    }

}

.experience {
    background-color: variables.$light-brown;
    margin-bottom: 20px;
    box-shadow: variables.$box-shadow-boxes;
    display: block;
    max-width: 1100px;

    &__year {
        font-family: variables.$title-font;
        color: white;
        font-weight: 500;
        font-size: 22px;
        flex-basis: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        text-align: center;
        background-color: variables.$primary-color;
    }

    &__text {
        font-family: variables.$basic-font;
        font-size: 16px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        flex-basis: 80%;
        color: variables.$dark-brown;
    }

}