@use 'variables';

//styling of all buttons and their links

.button {
    background-color: variables.$primary-color;
    width: 150px;
    color: white;
    font-family: variables.$basic-font;
    font-weight: 300;
    padding: 2%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 12px;
    text-align: center;
    box-shadow:  variables.$box-shadow-buttons;
    @media screen and (max-width: 400px) {
        font-size: 0.85em;
    }

    &--service-detail {
        margin-left:0;
        margin-top: 20px;
        width: auto;
        background-color: variables.$hover1;
        &:hover {
            background-color: variables.$hover2;
        }
    }

    &__link {
        color: white;
        text-decoration: none;
        @media screen and (max-width: 430px) {
            width: 250px;
            font-size: 20px;
        }
        &:active {
            color: white;
            text-decoration: none;
        }

        &:visited {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: variables.$hover2;
        }
    }

    &--services {
        margin: 0;
        width: 150px;
        font-size: 0.9em;
        @media screen and (max-width: 400px) {
            padding: 5%;
            font-size: 16px;
        }
        @media screen and (min-width: 600px) {
            width: 250px;
            font-size: 16px;
        }
        @media screen and (min-width: 1100px) {
            width: 160px;
     
        }
    }

}

.menu-link {
    color: variables.$dark-brown;
    text-decoration: none;

    &:visited {
        color: variables.$dark-brown;
        text-decoration: none;
    }

    &:active {
        color: variables.$dark-brown;
        text-decoration: none;
    }
    
    &:hover {
        text-decoration: underline;
     }
}


.button--contact {
    margin-left: 0;
    background-color: variables.$primary-color;
    font-family: variables.$basic-font;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow:  variables.$box-shadow-buttons;
}


.button--services {
    margin-left: 0;
    margin-right: 0;
}