@use 'variables';

//hero panel settings

.hero {
    font-family: variables.$basic-font;
    font-weight: 350;
    text-align: center;
    padding-bottom: 30px;
    color: variables.$dark-brown;
    padding-left: 5%;
    padding-right: 5%;
    background-color: variables.$hero-background;

    @media screen and (min-width: 900px) {
        display: flex;
        padding-bottom: 0;
        padding-left: 8%;
        padding-right: 8%;
    }

    &__image {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: variables.$box-shadow-boxes;
        @media screen and (min-width: 500px) {
            height: 400px;
            width: 400px;
        }
        @media screen and (max-width: 900px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 900px) {
            border-radius: 0;
            width: 350px;
            height: auto;
            margin-right: 30px;
        }
        @media screen and (min-width: 1500px) {
            width: 500px;
            height: auto;
    }
}

    &__title {
        font-family: variables.$title-font;
        font-weight: 350;
        font-size: 60px;
        color: variables.$dark-brown;
        margin-bottom:0;
        margin-top:0;
        padding-top: 55px;
        @media screen and (min-width: 1500px) {
            font-size: 110px;
        }
    }
    &__subtitle {
        font-family: variables.$basic-font;
        color: variables.$dark-brown;
        font-weight: 300;
        margin-top:30px;
        font-size: 40px;
        @media screen and (min-width: 1500px) {
            font-size: 70px;
        }
    }

    &-buttons {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-top: 40px;
        @media screen and (max-width: 400px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 900px) {
            padding-bottom: 30px;
        }
        @media screen and (min-width: 900px) {
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1500px) {
            font-size: 18px;
            margin-top: 60px;
    }
}

    &__column--text {
        @media screen and (min-width: 900px) {
            order: 1;
        }
        @media screen and (min-width: 1500px) {
            padding-left: 8%;
            padding-right: 8%;
            font-size: 30px;

        }
    }
}
