
//colors
$primary-color: #c4a593;
$light-brown: #EFEAE4;
$dark-brown: #685E50;
$box-shadow: lightgrey;
$hero-background: whitesmoke;
$hover1: #968073;
$hover2: #a68a7a;

//fonts
$title-font: "Fraunces";
$basic-font: "Open Sans";